body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
    font-size: 36px;
}

p {
    font-size: 18px;
    color: #444;
}

ul {
    list-style-type: square;
    padding: 0;
}

li {
    margin: 5px 0;
    font-weight: bold;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}


form {
    background-color: white;
    padding: 20px;
    margin: 30px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
    height: 100px;
}

form button[type="submit"] {
    width: 100%;
    background-color: #008CBA;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #005f73;
}

#label-mensaje {
    display: block;
    text-align: center;
}

#resultado {
    background-color: #fff;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    color: #333;
    text-align: left;
}
